{% extends 'main.html' %}
{% load static %}

{% block content %}

<!-- Main Section -->
<!-- Header Section -->
<header>
   <div class="header-wrapper width-p-20 height-p-10">
      <div class="header-1">
         <a href="/">
         <div class="activity-logo">
            <h3 class="no-margin"> SAVED</h3>
         </div>
      </a>
      </div>
      <div class="header">
         <a href="{% url 'user-profile' %}">
            <div class="inbox">
               <img src="{% static 'images/icons/back icons/back-1.png' %}" alt="user">
            </div>
         </a>
      </div>
   </div>
</header>
<!-- Header Section End! -->

<main>
   <section class="background-white">
      <div class="saved-options">
         {% if page == "post" %}
         <a href="{% url 'saved-post-page' %}"><h3 class="selected">POST</h3></a>
         <a href="{% url 'saved-tell-page' %}"><h3 class="grey">TELL</h3></a>
         {% else %}
         <a href="{% url 'saved-post-page' %}"><h3  class="grey">POST</h3></a>
         <a href="{% url 'saved-tell-page' %}"><h3 class="selected">TELL</h3></a>
         {% endif %}
      </div>
      
      <hr class="hr-line">
   </section>


   <section class="saved-post-tell">
      {% if page == "post" %}
      
      <!-- POST -->
      {% for content in contents %}
      <div class="content-wrapper">
         <div class="content-box">
            <div class="content-1">
               <div class="big-heart-parent">
                  <img src="{% static 'images/icons/heart/heart-red.png' %}" alt="" class="big-heart none">
                  <img src="{{content.post.img.url}}" alt="post" ondblclick="heartPost()" class="post-img">
               </div>
               {% if request.user not in content.post.likers.all %}
               <div class="heart-p position-rel">
                  <a href="{% url 'like-post' content.post.id %}?q={{request.path}}"><img src="{% static 'images/icons/heart/heart-white.png' %}" alt="" class="heart"></a>
               </div>
               {% else %}
               <div class="heart-p position-rel">
                  <a href="{% url 'unlike-post' content.post.id %}?q={{request.path}}"><img src="{% static 'images/icons/heart/heart-red.png' %}" alt="" class="heart"></a>
               </div>
               {% endif %}
            </div>

            <div class="content-2-updated">
               <div class="content-layer-0">
                  <div class="cl0-left">
                     <a href="#"><img src="{% static 'images/icons/send/send.png' %}" alt="" title="respond to post"></a>
                     <a href="#"><strong class="font-lobster" title="tell on post">T</strong></a>
                     <!-- <img src="images/icons/heart/heart-black.png" class="small-img" alt="" id="heart-btn" onclick="likeOrUnlike(true)"> -->
                  </div>
                  <div class="cl0-right">
                     <a href="{% url 'save-post' content.id %}"><img src="{% static 'images/icons/bookmark/bookmark.png' %}" alt=""></a>
                  </div>
               </div>

               <div class="content-layer-1">
                  <div class="cl-left flex">
                     <div class="img-holder">
                        <img src="{{content.owner.profile.img.url}}" alt="" class="img-holder-image">
                     </div>
                     <div class="content-owner">
                        <a href="{% url 'other-profile' content.owner.id %}"><h3>{{content.owner}}
                           {% if content.owner.profile.verified %}
                           <img src="{% static 'images/icons/verified/verified-blue2.png' %}" class="small-img-feed" alt="verification">
                           {% endif %}
                           
                        </h3></a>
                     </div>
                  </div>
                  <div class="cl-right">
                     <p>{{content.post.get_total_likes}} like{{content.post.get_total_likes|pluralize}}</p>
                  </div>
               </div>
               <div class="content.post-layer-2">
                  <p><strong><a href="{% url 'other-profile' content.post.owner.id %}">{{content.post.owner.profile.username}}</a> </strong>{{content.post.body}}</p>
               </div>
               {% for comment in content.post.commentonpost_set.all|slice:1 %}
               <div class="content-layer-3">
                  <p><a href="{% url 'other-profile' comment.owner.id %}"><strong>{{comment.owner}} </strong></a>{{comment.comment}}</p>
               </div>
               {% endfor %}
               <div class="content-layer-4 flex">
                  {% if content.post.commentonpost_set.all.count > 1 %}
                  <p class="grey">See {{content.commentonpost_set.all.count|add:-1}} other comments</p>
                  {% elif tell.commentontell_set.all.count > 0 %}
                  <p class="grey">0 other comments</p>
                  {% else %}
                  <p class="grey">No comment</p>
                  {% endif %}
                  <a href="{% url 'post-comments-page' content.post.id %}"><span class="comment-button">comment</span></a>
               </div>
            </div>
         </div>
      </div>
      {% endfor %}
      
      {% else %}

      <!-- TELL -->

      {% for content in contents %}

      
      <div class="content-wrapper">
         <div class="content-box-post">

            <div class="content-2-post width-p-20 height-p-10">
               <div class="content-layer-1">
                  <div class="cl-left flex">
                     <div class="img-holder">
                        <img src="{{content.tell.owner.profile.img.url}}" alt="" class="img-holder-image">
                     </div>
                     <div class="content-owner">
                        <a href="#"><h3>{{content.tell.owner}}</h3></a>
                     </div>
                  </div>
                  <div class="cl-right">
                     <p>{{content.tell.get_total_likes}} like{{content.tell.get_total_likes|pluralize}}</p>
                        {% if request.user not in content.likers.all %}
                        <a href="{% url 'like-tell' content.id %}?q={{request.path}}"><img src="{% static 'images/icons/heart/heart-black.png' %}" alt="" class="heart-tell"></a>
                        {% else %}
                        <a href="{% url 'unlike-tell' content.id %}?q={{request.path}}"><img src="{% static 'images/icons/heart/heart-red.png' %}" alt="" class="heart-tell"></a>
                        {% endif %}
                  </div>
               </div>
               <div class="content-layer-2">
                  <p>{{content.tell.body}}</p>
               </div>
               {% for comment in content.tell.commentontell_set.all|slice:1 %}
               <div class="content-layer-3">
                  <p><a href="{% url 'other-profile' comment.owner.id %}"><strong>{{comment.owner}} </strong></a>{{comment.comment}}</p>
               </div>
               {% endfor %}
               <div class="content-layer-4-updated flex">
                  {% if content.tell.commentontell_set.all.count > 1 %}
                  <p class="grey">See {{content.commentontell_set.all.count|add:-1}} other comments</p>
                  {% elif tell.commentontell_set.all.count > 0 %}
                  <p class="grey">0 other comments</p>
                  {% else %}
                  <p class="grey">No comment</p>
                  {% endif %}
                  <a href="{% url 'tell-comments-page' content.tell.id %}"><span class="comment-button">comment</span></a>
               </div>

               <div class="content-layer-0">
                  <div class="cl1-left">
                     <a href="#"><img src="{% static 'images/icons/send/send-2.png' %}" alt="" title="respond to tell"></a>
                     <a href="#"><strong class="font-lobster" title="tell on tell">T</strong></a>
                     <!-- <img src="images/icons/heart/heart-black.png" class="small-img" alt="" id="heart-btn" onclick="likeOrUnlike(true)"> -->
                  </div>
                  <div class="cl1-right">
                     {% if content.id in request.user.profile.saved_tell.all %}
                     <a href=""><img src="{% static 'images/icons/bookmark/bookmark.png' %}" alt=""></a>
                     {% else %}
                     <a href=""><img src="{% static 'images/icons/bookmark/bookmark-black.png' %}" alt=""></a>
                     {% endif %}
                  </div>
               </div>
            </div>
         </div>
      </div>

      {% endfor %}

      {% endif %}

   </section>
</main>


{% endblock content %}