{% extends 'main.html' %}
{% load static %}

{% block content %}

<body class="background-off-white" id="body">
   <!-- Header Section -->
   <header>
      <div class="message-header" data-user="{{user.id}}">
         <div class="message-left">
            <div class="back">
               <a href="{% url 'chat' %}"><img src="{% static 'images/icons/back icons/back-1-white.png' %}" alt=""></a>
            </div>
            <div class="activity-2">
               <div class="img-holder-m">
                  <img src="{{message.owner.profile.img.url}}" alt="profile-picture" class="img-holder-image-m">
               </div>
               <div>
               
                  <h2 class="no-margin width-p-10 position-rel msg-name"><a href="{% url 'other-profile' message.owner.id %}"><strong class="color-white">{{message.owner.profile.name}}</strong></a>
                     {% if message.owner.profile.verified %}
                     <img src="{% static 'images/icons/verified/verified-blue2.png' %}" class="width-20 chat-v" alt="verification">
                     {% endif %}
                  </h2>
                  <p class="no-margin width-p-10 last_seen">{{message.owner.profile.get_last_seen}}</p>
               </div>
            </div>
         </div>
         <a href="#" class="options-link">
            <div class="message-right">
               <img src="{% static 'images/icons/options/option-white-32.png' %}" alt="" width="20">
            </div>
         </a>
      </div>
   </header>
   <!-- Header Section End -->


   <!-- Main Section -->
   <main id="main">
      <div class="timestamp-holder">
         <span class="timestamp">
            <strong>Welcome</strong>
         </span>
      </div>


      {% for body in bodys %}

      {% if body.owner == request.user %}
      <div class="msg-block-me">
         <div class="msg-box-me">
            <p class="no-margin">
               <span>{{body.body}}</span> 
               <small class="msg-time grey">{{body.get_time}}</small>
            </p>
         </div>
         {% if body.is_read %}
         <div class="msg-seen">
            <div class="c1 msg-blue"></div>
            <div class="c1 msg-blue"></div>
         </div>
         {% else %}
         <div class="msg-seen">
            <div class="c1"></div>
            <div class="c1"></div>
         </div>
         {% endif %}
      </div>

      {% else %}
      
      <div class="msg-block">
         <div class="msg-box">
            <p class="no-margin">
               <span>{{body.body}}</span>
               <small class="msg-time grey">{{body.get_time}}</small>
            </p>
         </div>
      </div>

      {% endif %}


      {% endfor %}
      


   </main>
   <!-- Main Section End -->


      <!-- Footer Section -->
      <footer>
         <form class="message-form" id="form" action="#" method="POST">
            {% csrf_token %}
            <div class="m-input">
               <input type="text" placeholder="Message" name="body" id="message">
            </div>
            <div class="m-send">
               <button type="submit">
                  <img src="{% static 'images/icons/send/send-6-white.png' %}" alt="">
               </button>
            </div>
         </form>
      </footer>
      <!-- Footer Section End -->
   
      
      <!-- Post Floater Container -->
      <div class="floater-container collapse">
         <div class="floater-exit"></div>
         
         <div class="floater-box">
            <div class="floater-bottom-options">
               <hr class="hr-mini-bar">
               <div class="options">
                  <!-- Options are added using Javascript -->
   
   
               </div>
            </div>
         </div>
      </div>
      <!-- Post Floater Container -->
   
   
</body>

{% endblock content %}

{% block javascript %}
<script src="{% static 'js/chat.js' %}" ></script>
{% endblock %}