<!DOCTYPE html>
<html>
<head>
   <!-- Google font - Fredoka -->
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

   <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&family=Sacramento&display=swap" rel="stylesheet">

   <meta charset='utf-8'>
   <meta http-equiv='X-UA-Compatible' content='IE=edge'>
   <title>👓SF</title>
   <meta name='viewport' content='width=device-width, initial-scale=1'>
   <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
</head>
<body>
   <header>
      <div class="header-wrapper width-p-20 height-p-10">
         <div class="header-1">
            <a href="/">
               <div class="logo">
                  <img src="images/logos/seefriends-logo-4.png" alt="seefriends logo">
                  <!-- <h3 class="no-margin">SeeFriends..</h3> -->
               </div>
            </a>
         </div>
         <div class="header">
            <a href="chat.html">
               <div class="inbox">
                  <img src="images/footer icons/footer-inbox.png" alt="user">
               </div>
            </a>
         </div>
      </div>
   </header>

   <main>
      <div class="welcome-user height-p-10">
         <h3>Welcome Daniel</h3>
      </div>
      <div class="content-wrapper">
         <div class="content-box">
            <div class="content-1">
               <div class="big-heart-parent">
                  <img src="images/icons/heart/heart-red.png" alt="" class="big-heart none">
                  <img src="images/content/ja morant.jpg" alt="post" ondblclick="heartPost()">
               </div>
               <div class="heart-p position-rel">
                  <img src="images/icons/heart/heart-white.png" alt="" class="heart" id="heart-btn" onclick="likeOrUnlike(true)">
               </div>
            </div>

            <div class="content-2 width-p-20 height-p-10">
               <div class="content-layer-1">
                  <div class="cl-left flex">
                     <img src="images/content/gc.jpg" alt="" class="profile-pic">
                     <div class="content-owner">
                        <a href="#"><h3>Chukwu Daniel Nonso</h3></a>
                     </div>
                  </div>
                  <div class="cl-right">
                     <p>3 likes</p>
                  </div>
               </div>
               <div class="content-layer-2">
                  <p>I feel like balling out so damn hard they here my name from chase center</p>
               </div>
               <div class="content-layer-3">
                  <p><strong>Ebube</strong> lord daniel. ja is on 🔥</p>
               </div>
               <div class="content-layer-4 flex">
                  <p class="grey">See 4 other comments</p>
                  <a href="#"><span class="comment-button">comment</span></a>
               </div>
            </div>
         </div>
      </div>
      <div class="content-wrapper">
         <div class="content-box">
            <div class="content-1">
               <div class="big-heart-parent">
                  <img src="images/icons/heart/heart-red.png" alt="" class="big-heart none">
                  <img src="images/content/ja morant.jpg" alt="post" ondblclick="heartPost()">
               </div>
               <div class="heart-p position-rel">
                  <div class="heart-container"></div>
                  <a href="#"><img src="images/icons/heart/heart-white.png" alt="" class="heart"></a>
               </div>
            </div>

            <div class="content-2 width-p-20 height-p-10">
               <div class="content-layer-1">
                  <div class="cl-left flex">
                     <img src="images/content/gc.jpg" alt="" class="profile-pic">
                     <div class="content-owner">
                        <a href="#"><h3>Chukwu Daniel Nonso</h3></a>
                     </div>
                  </div>
                  <div class="cl-right">
                     <p>3 likes</p>
                  </div>
               </div>
               <div class="content-layer-2">
                  <p>I feel like balling out so damn hard they here my name from chase center</p>
               </div>
               <div class="content-layer-3">
                  <p><strong>Ebube</strong> lord daniel. ja is on 🔥</p>
               </div>
               <div class="content-layer-4 flex">
                  <p class="grey">See 4 other comments</p>
                  <a href="#"><span class="comment-button">comment</span></a>
               </div>
            </div>
         </div>
      </div>
      <div class="content-wrapper">
         <div class="content-box">
            <div class="content-1">
               <img src="images/content/content2.jpg" alt="post">
               <div class="heart-p position-rel">
                  <div class="heart-container"></div>
                  <a href="#"><img src="images/icons/heart/heart-white.png" alt="" class="heart"></a>
               </div>
            </div>

            <div class="content-2 width-p-20 height-p-10">
               <div class="content-layer-1">
                  <div class="cl-left flex">
                     <img src="images/content/gc.jpg" alt="" class="profile-pic">
                     <div class="content-owner">
                        <a href="#"><h3>Chukwu Daniel Nonso</h3></a>
                     </div>
                  </div>
                  <div class="cl-right">
                     <p>3 likes</p>
                  </div>
               </div>
               <div class="content-layer-2">
                  <p>I feel like balling out so damn hard they here my name from chase center</p>
               </div>
               <div class="content-layer-3">
                  <p><strong>Ebube</strong> lord daniel. ja is on 🔥</p>
               </div>
               <div class="content-layer-4 flex">
                  <p class="grey">See 4 other comments</p>
                  <a href="#"><span class="comment-button">comment</span></a>
               </div>
            </div>
         </div>
      </div>
      <div class="content-wrapper">
         <div class="content-box">
            <div class="content-1">
               <img src="images/content/content3.jpg" alt="post">
               <div class="heart-p position-rel">
                  <div class="heart-container"></div>
                  <a href="#"><img src="images/icons/heart/heart-white.png" alt="" class="heart"></a>
               </div>
            </div>

            <div class="content-2 width-p-20 height-p-10">
               <div class="content-layer-1">
                  <div class="cl-left flex">
                     <img src="images/content/gc.jpg" alt="" class="profile-pic">
                     <div class="content-owner">
                        <a href="#"><h3>Chukwu Daniel Nonso</h3></a>
                     </div>
                  </div>
                  <div class="cl-right">
                     <p>3 likes</p>
                  </div>
               </div>
               <div class="content-layer-2">
                  <p>I feel like balling out so damn hard they here my name from chase center</p>
               </div>
               <div class="content-layer-3">
                  <p><strong>Ebube</strong> lord daniel. ja is on 🔥</p>
               </div>
               <div class="content-layer-4 flex">
                  <p class="grey">See 4 other comments</p>
                  <a href="#"><span class="comment-button">comment</span></a>
               </div>
            </div>
         </div>
      </div>
      <div class="content-wrapper">
         <div class="content-box">
            <div class="content-1">
               <img src="images/content/ja morant.jpg" alt="post">
               <div class="heart-p position-rel">
                  <img src="images/icons/heart/heart-white.png" alt="" class="heart">
               </div>
            </div>

            <div class="content-2 width-p-20 height-p-10">
               <div class="content-layer-1">
                  <div class="cl-left flex">
                     <img src="images/content/gc.jpg" alt="" class="profile-pic">
                     <div class="content-owner">
                        <a href="#"><h3>Chukwu Daniel Nonso</h3></a>
                     </div>
                  </div>
                  <div class="cl-right">
                     <p>3 likes</p>
                  </div>
               </div>
               <div class="content-layer-2">
                  <p>I feel like balling out so damn hard they here my name from chase center</p>
               </div>
               <div class="content-layer-3">
                  <p><strong>Ebube</strong> lord daniel. ja is on 🔥</p>
               </div>
               <div class="content-layer-4 flex">
                  <p class="grey">See 4 other comments</p>
                  <a href="#"><span class="comment-button">comment</span></a>
               </div>
            </div>
         </div>
      </div>

      <div class="content-wrapper">
         <div class="content-box">
            <div class="content-1">
               <div class="heart-p position-rel">
                  <div class="heart-container"></div>
                  <img src="images/icons/heart/heart-white.png" alt="" class="heart">
               </div>
            </div>

            <div class="content-2 width-p-20 height-p-10">
               <div class="content-layer-1">
                  <div class="cl-left flex">
                     <img src="images/content/gc.jpg" alt="" class="profile-pic">
                     <div class="content-owner">
                        <a href="#"><h3>Chukwu Daniel Nonso</h3></a>
                     </div>
                  </div>
                  <div class="cl-right">
                     <p>3000 likes</p>
                     <a href="#">
                        <img src="images/icons/heart/heart-red.png" alt="" class="heart-tell">
                     </a>
                  </div>
               </div>
               <div class="content-layer-2">
                  <p>I feel like balling out so damn hard they here my name from chase center</p>
               </div>
               <div class="content-layer-3">
                  <p><strong>Ebube</strong> lord daniel. ja is on 🔥</p>
               </div>
               <div class="content-layer-4 flex">
                  <p class="grey">See 4 other comments</p>
                  <a href="#"><span class="comment-button">comment</span></a>
               </div>
            </div>
         </div>
      </div>

      <section class="done grey">
         <h3>No new posts</h3>
      </section>
   </main>

   <!-- Footer Section -->
   <footer>
      <div class="footer-wrapper height-p-10">
         <a href="index.html">
            <div class="f-feed" title="feed">
               <img src="images/footer icons/footer-feed.png" alt="feed" class="small-img">
            </div>
         </a>

         <a href="tells.html">
            <div class="f-tells" title="tells">
               <img src="images/footer icons/footer-tells.png" alt="tells" class="small-img">
            </div>
         </a>
         
         <a href="">
            <div class="post-button f-post" title="post">
               <img src="images/footer icons/footer-add.png" alt="post" class="small-img">
            </div>
         </a>

         <a href="activity.html">
            <div class="f-activity" title="activity">
               <img src="images/footer icons/footer-likes.png" alt="activity" class="small-img">
            </div>
         </a>

         <a href="user-profile.html">
            <div class="f-profile" title="profile">
               <img src="images/footer icons/footer-user.png" alt="profile" class="small-img">
            </div>
         </a>

      </div>
   </footer>
   <!-- Footer Section End -->

   <!-- Post Floater Container -->
   <div class="floater-container collapse">
      <div class="floater-exit"></div>
      
      <div class="floater-box">
         <div class="floater-bottom-options">
            <hr class="hr-mini-bar">
            <div class="options">
               <!-- Options are added using Javascript -->


            </div>
         </div>
      </div>
   </div>
   <!-- Post Floater Container -->


</body>
<script src='main.js'></script>
</html>