{% load static %}
<header>
   <div class="header-wrapper width-p-20 height-p-10">
      <div class="header-1">
         <a href="/">
            <div class="logo">
               <img src="{% static 'images/logos/seefriends-logo-4.png' %}" alt="seefriends logo">
               <!-- <h3 class="no-margin">SeeFriends..</h3> -->
            </div>
         </a>
      </div>
      <div class="header">
         <div class="inbox">
            <a href="{% url 'discover' %}"><img src="{% static 'images/icons/search/search.png' %}" alt=""></a>
            <a href="{% url 'chat' %}"><img src="{% static 'images/icons/send/send.png' %}" alt="user"></a>
            {% if chats_count > 0 %}
            <div class="red-circle red-circle-mp">{{chats_count}}</div>
            {% endif %}
         </div>
      </div>
   </div>
</header>