{% load static %}
<header>
   <div class="header-wrapper width-p-20 height-p-10">
      <div class="header-1">
         <a href="/">
            <div class="logo">
               <img src="{% static 'images/logos/seefriends-logo-4.png' %}" alt="seefriends logo">
               <!-- <h3 class="no-margin">SeeFriends..</h3> -->
            </div>
         </a>
      </div>
      <div class="header">
         <a href="chat.html">
            <div class="inbox">
               <img src="{% static 'images/footer icons/footer-inbox.png' %}" alt="user">
            </div>
         </a>
      </div>
   </div>
</header>